<ion-view title="Dashboard">
  <ion-nav-title>Semaine Météo - {{weather.city.name}}</ion-nav-title>
    <ion-content >
      <!-- {{weather.list}} -->
      <div ng-show="loadingDaily">chargement ...
       <ion-spinner icon="circles" class="spinner-energized"></ion-spinner></div>
    <ion-list ng-hide="loadingDaily">
      <div ng-repeat="t in getDailyWeather()">
        <a class="item item-avatar" href="#">
      <img  ng-if="!loadingDaily" ng-init='getWeatherImg(getWeatherDescription(t))'src="{{weatherImg[$index]}}">
        <h2  ng-if="!loadingDaily" ng-init='date = dateTranslator(getDailyCityDate(t))' >
          {{date.day}} {{date.date}}  </h2>
      <p>{{getTemperature(t.temp.min)}}/{{getTemperature(t.temp.max)}}°C </p>
      <p ng-init='getWeatherStatus(t.weather[0].description)'>{{weatherStatus[$index]}}</p>
    </a>
  </div>
      </ion-list>
    </ion-content>
</ion-view>
