<ion-view title="Méteo du Congo">
  <ion-content>
      <div class="list card">
         <div class="item item-divider" >Choisissez une ville</div>
          <div class="item item-body">
            <div>
               <form class="list" ng-submit="search(city)">
               <div class="item item-input item-select">
                  <div class="input-label">
                    Ville
                  </div>

                  <select  class="col col-80" ng-model="city" >
                    <option ng-repeat="town in towns" value={{town.name}}>{{town.name}}</option>
                     
                  </select>
               </div>
                <div class="padding">
                    <button class="button button-block button-calm">Envoyer</button>
                </div>
              </form>
            </div>
          </div>
    </div> 
  </ion-content>
</ion-view>

