<ion-view >

    <ion-nav-title>{{preferredCityInfo.city.name}}</ion-nav-title>
    <ion-content>
      <div ng-show="loading">chargement ...
       <ion-spinner icon="circles" class="spinner-energized"></ion-spinner></div>
    <div ng-hide="loading">
       <!-- {{preferredCityInfo}} -->
      <div class="card" ng-controller="WeatherCtrl"  ng-if="ready">

        <div class="item">

              <h2 class="text-center" ng-if="ready" ng-init='dateTranslator(preferredCityInfo.value.dt)' >
                {{dateTranslator.day}} {{dateTranslator.date}}  </h2>
           </div>

           <div class="item item-body">
             <img class="full-image"  ng-if="ready" ng-init='weatherImg(preferredCityInfo.value.weather[0].description)'src={{weatherImg}} />

      </div>
      <div class="item">
        <div class="text-center">
    <div class="main_temp">{{Math.round(preferredCityInfo.value.main.temp)}}°C</div>

        <p class="main_description" ng-if="ready"  ng-init='weatherStatus(preferredCityInfo.value.weather[0].description)'>{{weatherStatus}}</p>
    </div>

   </div>
    </div>

    </ion-content>
    <div class="float-button">
      <span class="height-fix">
        <a ui-sref="add-trip" class="content">
          <i class="ion-plus-round"></i>
        </a>
        
      </span>
    </div>

</ion-view>
