<ion-view >
      <ion-nav-title ng-hide="loading">{{getPreferredCity()}}</ion-nav-title>
    <ion-content>
      <div ng-show="loading">chargement ...
       <ion-spinner icon="circles" class="spinner-energized"></ion-spinner></div>
    <div ng-hide="loading">
       <!-- {{preferredCityInfo}} -->
      <div class="card" ng-controller="WeatherCtrl"  ng-if="ready">

        <div class="item">

              <h2 class="text-center" ng-if="ready" ng-init='date = dateTranslator(getPreferredCityDate())' >
                {{date.day}} {{date.date}}  </h2>
           </div>

           <div class="item item-body">
             <img class="full-image"  ng-if="ready" ng-init='getWeatherImg(getPreferredCityDescription())'src={{weatherImg[0]}} />

      </div>
      <div class="item">
        <div class="text-center">
    <div class="main_temp">{{getPreferredCityTemperature()}}°C</div>

        <p class="main_description" ng-if="ready"  ng-init='getWeatherStatus(getPreferredCityDescription())'>{{weatherStatus[0]}}</p>
    </div>
   </div>
    </div>
    </ion-content>
    <div class="float-button">
      <span class="height-fix">
        <a ui-sref="add-trip" class="content">
          <i class="ion-plus-round"></i>
        </a>
      </span>
    </div>
</ion-view>
