<ion-view >
      <ion-nav-title ng-hide="loading">{{getPreferredCity()}}</ion-nav-title>
    <ion-content>
        <div ng-show="loading" class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
    <div ng-hide="loading">

      <div class="card" ng-controller="WeatherCtrl"  ng-if="ready">
        <div class="item">
              <h2 class="text-center">Situation Actuelle</h2>
           </div>

           <div class="item item-body">
             <!-- <h2 class="text-center" ng-if="ready" ng-init='date = dateTranslator(getPreferredCityDate())' >
               {{date.day}} {{date.date}}  </h2> -->
             <img class="full-image"  ng-if="ready" ng-init='getWeatherImg(getPreferredCityDescription())'src={{weatherImg[0]}} />
          </div>
      <div class="item">
        <div class="text-center">
    <div class="main_temp">{{getPreferredCityTemperature()}}°C</div>
        <p class="main_description" ng-if="ready"  ng-init='getWeatherStatus(getPreferredCityDescription())'>{{weatherStatus[0]}}</p>
    </div>
   </div>
    </div>
    <div class="card"  ng-if="!loadingDaily">
      <div class="item">
            <h2 class="text-center" >
              Prevision du Jour </h2>
         </div>
         <div class="item item-body" ng-init="t = getDailyWeather()[0]">
           <!-- {{t}} -->

          <p ng-init='getWeatherStatus(t.weather[0].description)'>Prévision générale: <strong>{{weatherStatus[0]}}</strong></p>
          <p>Temperatures : <strong>{{getTemperature(t.temp.min)}}/{{getTemperature(t.temp.max)}}°C</strong></p>

          <p>Humidité : {{getHumidity(t)}}%</p>
          <p>Vitesse du vent : {{getSpeed(t)}} Km/h</p>
        </div>
  </div>
    </ion-content>

</ion-view>
